
<div ng-controller="mainCtrl">
    <h3>Index</h3>
    <table st-table="documents"
           st-safe-src="documentsSafe" class="table table-striped">
        <thead>
            <tr>
                @*<th></th>*@
                <th></th>
                <th st-sort="Title">Title</th>
                <th st-sort="Owner">Owner</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in documents track by $index">
                <td>
                    <span class="glyphicon glyphicon-trash" style="cursor: pointer" ng-click="trash(row)"></span>
                </td>
                @*<td>
                    <a ng-click="edit(row)" style="cursor: pointer">Edit</a>
                </td>*@
                <td><a href="/AddNew?id={{row.Id}}">{{row.Title}}</a></td>
                <td>
                    <span ng-show="row.IsOwnedByMe"><i>me</i></span>
                    <a ng-hide="row.IsOwnedByMe" style="cursor:pointer" href="/User?userId={{row.Owner}}">{{row.Owner}}</a>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-default" type="submit" style="float:left;margin-left:10px;margin-top:13px" title="Add new derivation" ng-click="addNewDerivation()">
        <span class="glyphicon glyphicon-plus">
        </span>
    </button>

    <br />

    <div class="modal fade" id="deleteDocumentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel2">Confirm Delete</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete <i>{{docToDelete.Title}}</i>?
                </div>
                <div class="modal-footer" style="margin-top:0">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" ng-click="confirmDelete()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/Util/DateFormat.js"></script>
    <script src="~/Scripts/Controllers/HomeController.js"></script>
}
