@model Derivation.Web.Models.UserIdDerivationId
@{
    ViewBag.Title = "Add New";
}

<div ng-controller="addNewCtrl">
    <div ng-if="isEditingHeader">
        <a ng-click="previewHeader()">preview</a>

        <h3>Title:</h3>
        <input type="text" class="form-control" ng-model="newTitle" style="max-width: 100%; width: 100%;" />

        <span>Statement of Theorem:</span>
        <textarea class="form-control" ng-model="newDescription" style="max-width: 100%; width: 100%; height: 300px"></textarea>
    </div>

    <div ng-if="!isEditingHeader">
        <a ng-click="editHeader()">edit</a>

        <h2>{{newTitle}}</h2>

        <h3>Statement:</h3>

        <div style="white-space: pre">
            <div>{{newDescription}}</div>
        </div>
    </div>

    <h3>Proof:</h3>

    <div ng-repeat="step in steps track by $index">
        <br />
        <div>
            <span style="font-size: 22px;font-weight: bold">Step {{$index + 1}}</span>

            <span class="glyphicon glyphicon-trash" style="cursor: pointer" ng-click="trash(step)"></span>


            <a ng-click="edit(step)" style="cursor: pointer" ng-if="!isEditStep(step)">Edit</a>
            <a ng-click="doneEditing(step)" style="cursor: pointer" ng-if="isEditStep(step)">Done</a>

        </div>
        <br />

        <div ng-if="!isEditStep(step)">
            {{step.Transition}}
            <br />
            ${{step.Equation}}$
            <br />
            {{step.Notes}}
        </div>
        <div ng-if="isEditStep(step)">
            <div>
                <span>Equation:</span>
                <textarea class="form-control" ng-model="step.Equation" style="max-width: 100%; width: 100%;"></textarea>
            </div>
            <div>
                <span>Transition:</span>
                <textarea class="form-control" ng-model="step.Transition" style="max-width: 100%; width: 100%;"></textarea>
            </div>
            <div>
                <span>Notes:</span>
                <textarea class="form-control" ng-model="step.Notes" style="max-width: 100%; width: 100%;"></textarea>
            </div>
        </div>

        <br />

    </div>
    <br />

    <a ng-click="showAddStep()" ng-show="!isAddStepVisible">Add Step</a>
    <a ng-click="hideAddStep()" ng-show="isAddStepVisible">Hide</a>

    <div ng-show="isAddStepVisible">
        <h3>Add Step:</h3>

        <div>
            <div>
                <span>Equation:</span>
                <textarea class="form-control" ng-model="newEquation" style="max-width: 100%; width: 100%;"></textarea>
            </div>
            <div>
                <span>Transition:</span>
                <textarea class="form-control" ng-model="newTransition" style="max-width: 100%; width: 100%;"></textarea>
            </div>
            <div>
                <span>Notes:</span>
                <textarea class="form-control" ng-model="newNotes" style="max-width: 100%; width: 100%;"></textarea>
            </div>
            <br/>

            <div>
                <button class="btn btn-default" ng-click="add()" style="float: right" title="Add Derivation Step">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>

            <br/>
            <br/>
        </div>
    </div>

    <div>
        <button class="btn btn-default" ng-click="submit()">
            <span>Save</span>
        </button>
    </div>
</div>

@section Scripts{
    <script>
        var userId = '@Model.UserId';
        var derivationId = '@Model.DerivationId';
    </script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
    <script src="~/Scripts/Controllers/AddNewController.js"></script>
}
